.main_grid {
  /*grid-template-columns: 200px 1fr;*/
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: 15% 25% 10% ;
  grid-template-rows: 5% 50% 20% 10%; */

  grid-template-areas:
    "cluster_temp single_course_combo results_form"
    "cluster_temp cluster_combo result_form"
    "cluster_group_button nothing nothing"
    "not next_button next_button";
  /* grid-template-areas:
    "single_cluster results_form"
    "next_button next_button"; */
  /* grid-gap: 5px; */
  grid-gap: 1.5rem 4rem;
  /* background-color: rgb(11, 224, 239); */
  /* padding: 2rem; */
  /* align-items: center; */
}
.main_grid > div {
  /* text-align: center; */
  /* padding: 20px; */
  font-size: auto;
}
.single_cluster_grid {
  display: grid;
  grid-area: single_cluster;
  grid-template-areas:
    "nothing1 single_course_combo nothing3"
    "nothing2 cluster_combo nothing4"
    "cluster_temp cluster_group_button nothing5";
}

.next_button {
  grid-area: next_button;
}

.btn:disabled {
  opacity: 0.2;
}
.item2 {
  grid-area: cluster_temp;
  align-self: end;
}
/* .item10 {
  grid-area: editors;
  position: relative;
  right: 27%;
} */
.item1 {
  grid-area: single_course_combo;

  /* place-self: center; */
  /* display: none; */
}

.item3 {
  grid-area: cluster_combo;
  /* justify-self: end;
  align-self: start; */
}
.item4 {
  grid-area: cluster_group_button;
  align-self: center;
  justify-self: start;
}
.item4 button {
  position: relative;
  left: 50%;
  background-color: red;
}
.item5 {
  grid-area: results_form;
  justify-self: start;
}
.item6 {
  grid-area: sub_button;
  justify-self: center;
}
.btn-primary {
  width: 300px;
}

.btn-info {
  font-size: 1rem;
  margin-right: 1rem;
}
.btn-danger {
  font-size: 0.6rem;
}

.item5 .btn-danger {
  margin-left: 10px;
}

.table-hover {
  width: 1px;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0.2rem solid rgba(223, 223, 37, 0.89);
  /* background-color: rgb(255, 255, 0); */
}
.item3 .table-success {
  border: 0.2rem solid rgba(42, 165, 42, 0.568);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav a.active {
  color: #039be5;
}
[hidden] {
  display: none !important;
}
