
form {
  /*grid-template-columns: 200px 1fr;*/
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    'single_course_form single_course_form group_form group_form'
    'single_course_form single_course_form group_form_temp group_form_temp_button'
    'results_form results_form results_form results_form'
    'sub_button sub_button sub_button sub_button';
  grid-gap: 5px;
  /* background-color: rgb(11, 224, 239); */
  padding: 10px;
}
form > div {
  text-align: center;
  /* padding: 20px; */
  font-size: auto;
}

form .item1 {
  grid-area: single_course_form;
  place-self: center;
}
form .item2 {
   grid-area: group_form;
   place-self: center;
  }
form .item3 {
  grid-area: group_form_temp;
  justify-self: end;
  align-self: start;
}
form .item4  {
  grid-area: group_form_temp_button;
  place-self: center;
  justify-self: start;
}
form .item5 {
  grid-area: results_form;
}
form .item6 {
  grid-area: sub_button;
  justify-self: center;
}
form .btn-primary{
  width: 300px;
}

form .btn-info{
  font-size: 1rem;
  margin-right: 1rem;
}
form .btn-danger{
  font-size: 0.6rem;
}

.item5 .btn-danger{
  margin-left: 10px;
}

form .table-hover{
  width: 1px;
  white-space: nowrap;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 0.2rem solid rgba(223, 223, 37, 0.89);
  /* background-color: rgb(255, 255, 0); */

}
form .item3 .table-success{
  border:0.2rem solid rgba(42, 165, 42, 0.568);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}

[hidden] {
  display: none !important;
}







