<div class="main_grid">
  <div *ngIf="courseService.finished_fetch_booly">
    <div class="item1">
      <label
        class="col-form-label col-form-label-lg"
        style="color:rgb(102, 0, 255)"
        for="inputLarge"
        >Add to Courses:</label
      >
      <div *ngIf="courseService.search_option === 'ID'; else elseBlock">
        <app-combo-box
          [list]="courseitem_ID"
          type_of_search="single"
        ></app-combo-box>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="courseService.search_option === 'Name'">
          <app-combo-box
            [list]="courseitem_Name"
            type_of_search="single"
          ></app-combo-box>
        </div>
      </ng-template>
    </div>
    <div class="item3">
      <label
        class="col-form-label col-form-label-lg"
        style="color:rgb(116, 35, 52)"
        for="inputLarge"
        >Add to cluster:</label
      >
      <div *ngIf="courseService.search_option === 'ID'; else elseBlock">
        <app-combo-box
          [list]="courseitem_ID"
          type_of_search="cluster"
        ></app-combo-box>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="courseService.search_option === 'Name'">
          <app-combo-box
            [list]="courseitem_Name"
            type_of_search="cluster"
          ></app-combo-box>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="item2">
    <div *ngIf="courseService.smgroup.length">
      <h2>Cluster Group</h2>
    </div>
    <table class="table-success">
      <tbody>
        <tr *ngFor="let course of courseService.smgroup; let n = index">
          <td>
            {{ course.__Course__.id }}
            {{ course.__Course__.course_name }}
          </td>
          <td>
            <button
              type="button"
              (click)="remove_temp_course_from_cluster(n)"
              class="btn btn-danger"
            >
              -
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item4">
    <button
      type="button"
      class="btn btn-info"
      [hidden]="!courseService.group_submit_button_booly"
      (click)="onSubmit_selfmadeform()"
    >
      submit cluster
    </button>
  </div>
  <div class="item5">
    <div
      *ngIf="
        courseService.struct.courses.length ||
        courseService.struct.clusters.length
      "
    >
      <h1>Courses & Clusters</h1>
      <table class="table table-hover">
        <tbody>
          <tr
            *ngFor="
              let course of courseService.getstruct().courses;
              let i = index
            "
          >
            <td>
              {{ course.__Course__.id }} {{ course.__Course__.course_name }}
              <button
                type="button"
                (click)="remove_singlecourse_fromlist(i)"
                class="btn btn-danger"
              >
                -
              </button>
            </td>
          </tr>

          <tr
            *ngFor="
              let cluster of courseService.getstruct().clusters;
              let j = index
            "
          >
            <td>
              <div class="dropdown">
                <span class="btn btn-info dropdown-toggle"
                  >Cluster {{ j + 1 }}</span
                >
                <button
                  type="button"
                  (click)="remove_clusterfromlist(j)"
                  class="btn btn-danger"
                >
                  -
                </button>
                <div class="dropdown-content">
                  <div *ngFor="let course of cluster; let k = index">
                    {{ course.__Course__.id }}
                    {{ course.__Course__.course_name }}
                    <button
                      type="button"
                      (click)="remove_coursefromcluster(j, k)"
                      class="btn btn-danger"
                    >
                      -
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="next_button">
    <button
      type="button"
      class="btn btn-success"
      [disabled]="
        !(
          courseService.struct.courses.length ||
          courseService.struct.clusters.length
        )
      "
      (click)="next_step()"
    >
      Next
    </button>
  </div>
</div>
