<form [formGroup]="selfmadeForm" (ngSubmit)="onSubmit()">

   <label>
    Group: Course ID:
    <input type="text" formControlName="add_selfmade_course"  >
  </label>

 <button type="button" (click)= "push_one_to_sm()">add to cluster</button>

<p> <button type="submit" [disabled]="!selfmadeForm.valid">submit cluster</button> </p>

</form>
<br> <br> <br>
   <b> courses in current cluster: </b>
<div *ngFor ="let course of smgroup ">
  <p> name of the course: {{course.__Course__.course_name }}   </p> <br>
</div>

<br> <br> <br>
<div *ngFor ="let cluster of courseService.getClusters() ">
  <b> Cluster: </b>
    <div *ngFor ="let course of cluster ">
      <p> name of the course: {{course.__Course__.course_name }} </p>   <br>
    </div>
</div>
