h2 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(43, 20, 170);
}

.mat-header-cell {
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}
.mat-cell {
  font-size: 15px;
  min-width: 10rem;
  min-height: 4rem;
}
.mat-table {
  width: 100%;
  table-layout: fixed;
  text-align: right;
}
.mat-header-row{
  min-height: 2rem;
}
