<h1>Welcome to Student Timetable Creator</h1>
<p>
  this website was built for the last year project program for "Ort Braude"
  College. It can be used for the convenience of anyone who willing to do so.
  The client side was built using "Angular 7" technology, the available courses
  are fetched from a database which is located at an "Azure CosmosDB Service".
  The Algorithm was coded in Python and the link between the client and the
  Python server is the python Microservice: "Flask", which handles the requests
  to the server. The project was built by <b>Ron Wexler: </b>
  <i>ronwexler93@gmail.com</i> <b> & </b> <b>Sagi Arieli: </b>
  <i>sagiarieli@gmail.com</i><br /><br />
  you are welcomed to communicate with us for any help/ bug report/ other
  matters.
</p>
