<mat-radio-group
  class="tp-radio-group"
  (change)="handleChange(chosen)"
  [(ngModel)]="chosen"
>
  <mat-radio-button
    class="tp-radio-button"
    *ngFor="let option of options"
    [value]="option"
  >
    {{ option }}
  </mat-radio-button>
</mat-radio-group>

<div class="combobox">
  <input
    type="text"
    [(ngModel)]="inputItem"
    (ngModelChange)="getFilteredList()"
    class="combobox-input"
    (keyup)="onKeyPress($event)"
    (blur)="toggleListDisplay(0)"
    (focus)="toggleListDisplay(1)"
    placeholder="Select a course..."
    [ngClass]="{ error: showError }"
  />
  <span *ngIf="showError" class="error-text"
    ><br /><i
      >ALREADY PICKED!
      <div *ngFor="let dup of errorMsg">
        {{ dup.__Course__.id }} {{ dup.__Course__.course_name }}
      </div></i
    ></span
  >
  <div class="combobox-options" *ngIf="!listHidden">
    <list-item
      *ngFor="let item of filteredList; let i = index"
      (click)="selectItem(i)"
      [ngClass]="{ selected: i === selectedIndex }"
    >
      {{ item }}</list-item
    >
  </div>
</div>
