.grid-container {
  display: grid;
  /* grid-template-rows: 5% 5% auto auto; */
  grid-template-columns: auto;
  grid-template-areas:
    "courselist coursetype chosen_lect_list"
    "courselist preflecturer chosen_lect_list"
    "next_button next_button next_button";
  grid-gap: 1.5rem 4rem;
  /* background-color: #2196F3; */
  padding: 10px;
  /* background: linear-gradient(to bottom, #3333ff 0%, #3399ff 100%); */
}

.courselist {
  grid-area: courselist;
}

.coursetype {
  grid-area: coursetype;
}
.preflecturer {
  grid-area: preflecturer;
}
.chosen_lect_list {
  grid-area: chosen_lect_list;
}
.next_button {
  grid-area: next_button;
  text-align: center;
}

h4,
h3 {
  text-align: center;
}
h4 {
  margin: 1.6rem auto;
}
.selected {
  background-color: rgb(14, 105, 209) !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  white-space: nowrap;
  color: black;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 10px;
  /* height: 1.6em; */
  border-radius: 4px;
  /* width: -webkit-fit-content; */
  width: fit-content;
}
/* .heroes li.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
} */
.heroes li:hover {
  /* color: #607d8b; */
  background-color: #ffffff38;
  left: 0em;
}
.heroes .text {
  position: relative;
  top: -3px;
  align-self: center;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.mat-button-toggle-checked {
  background-color: rgb(48, 177, 97);
}
.mat-button-toggle-group {
  width: 30%;
}
.mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.numberCircle {
  position: relative;
  left: 40%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  width: 36px;
  height: 36px;
  /* padding: 2px; */

  background: #fff;
  border: 1.7px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}
