<div *ngIf="struct">
  <div class="grid-container">
    <div class="courselist">
      <ul class="heroes">
        <li
          *ngFor="let course of struct.courses"
          [class.selected]="course === selected_course"
          (click)="onSelectCourse(course)"
        >
          <span class="badge">{{ course.__Course__.id }}</span>
          {{ course.__Course__.course_name }}
        </li>
        <div *ngFor="let clus of struct.clusters">
          <li
            *ngFor="let clu of clus"
            [class.selected]="clu === selected_course"
            (click)="onSelectCourse(clu)"
          >
            <span class="badge">{{ clu.__Course__.id }}</span>
            {{ clu.__Course__.course_name }}
          </li>
        </div>
      </ul>
    </div>
    <div class="coursetype">
      <mat-form-field>
        <mat-label>Class type</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let type of names; let i = index"
            [value]="type.value"
            [ngStyle]="{ display: type.disabled === 1 ? 'none' : 'block' }"
            (click)="onSelectClassType(i, type.r_value)"
          >
            {{ type.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="preflecturer">
      <mat-form-field>
        <mat-label>Choose Lecturer</mat-label>
        <mat-select>
          <mat-option
            *ngIf="class_type"
            (click)="
              onSelectRemoveLect(class_type, selected_course.__Course__.id)
            "
            >{{ nones }}</mat-option
          >
          <mat-option
            *ngFor="let lecture of lecturers"
            [value]="lecture"
            (click)="
              onSelectLecturer(
                lecture,
                class_type,
                selected_course.__Course__.id
              )
            "
          >
            {{ lecture }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="chosen_lect_list">
      <div *ngFor="let preflect of array">
        {{ preflect }}
      </div>
    </div>
  </div>
</div>
