<div *ngIf="struct">
  <div class="grid-container">
    <div class="courselist">
      <div class="numberCircle">1</div>
      <h4>Choose Course</h4>
      <ul class="heroes">
        <li
          *ngFor="let course of struct.courses"
          [class.selected]="course === selected_course"
          (click)="onSelectCourse(course)"
        >
          <span class="badge">{{ course.__Course__.id }}</span>
          {{ course.__Course__.course_name }}
        </li>
        <div *ngFor="let clus of struct.clusters">
          <li
            *ngFor="let clu of clus"
            [class.selected]="clu === selected_course"
            (click)="onSelectCourse(clu)"
          >
            <span class="badge">{{ clu.__Course__.id }}</span>
            {{ clu.__Course__.course_name }}
          </li>
        </div>
      </ul>
    </div>
    <div
      class="coursetype"
      [ngStyle]="{ display: course_chosen === false ? 'none' : 'block' }"
    >
      <div class="numberCircle">2</div>
      <mat-form-field>
        <mat-select
          placeholder="Choose Class type"
          [formControl]="class_Type_control"
        >
          <mat-select-trigger>
            {{ show_class_type ? class_Type_control.value : "" }}
          </mat-select-trigger>
          <mat-option
            *ngFor="let type of names; let i = index"
            [value]="type.value"
            [ngStyle]="{ display: type.disabled === 1 ? 'none' : 'block' }"
            (click)="onSelectClassType(i, type.r_value)"
          >
            {{ type.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="preflecturer"
      [ngStyle]="{ display: class_type_chosen === false ? 'none' : 'block' }"
    >
      <div class="numberCircle">3</div>
      <mat-form-field>
        <mat-select
          placeholder="Choose Lecturer"
          [formControl]="pref_lect_control"
        >
          <mat-select-trigger>
            {{ show_lecturer ? pref_lect_control.value : "" }}
          </mat-select-trigger>
          <mat-option
            *ngIf="class_type"
            (click)="
              onSelectRemoveLect(class_type, selected_course.__Course__.id)
            "
            >{{ nones }}</mat-option
          >
          <mat-option
            *ngFor="let lecture of lecturers"
            [value]="lecture"
            (click)="
              onSelectLecturer(
                lecture,
                class_type,
                selected_course.__Course__.id
              )
            "
          >
            {{ lecture }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="chosen_lect_list">
      <h3>preferred lecturers</h3>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let preflect of array; let i = index">
            <td>
              {{ preflect["id"] }}
            </td>
            <td>{{ preflect["classtype"] }}</td>
            <td>{{ preflect["lecturer"] }}</td>
            <td>
              <button
                type="button"
                (click)="remove_preflect_fromlist(i)"
                class="btn btn-danger"
              >
                -
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
