<h1>InfoPlus+</h1>
<!--
<nav>
  <a (click)="toggleEditor('name')">Search by Course ID</a>
</nav>
-->
<!--<app-name-editor *ngIf="showNameEditor"></app-name-editor>-->
<!--<app-name-editor></app-name-editor>-->
<app-add-course></app-add-course>
<app-add-self-made></app-add-self-made>
<app-submit-to-ga></app-submit-to-ga>
<app-ga-result></app-ga-result>
<!--
<button (click)= "getAllCors()">Get alll courses</button>
<div *ngFor ="let course of courses | async">
   {{course.__Course__.id | json}}
</div>
<br>
<form>
    <div>
    <label>CourseID:</label>
    <input type="text" name="CourseID"/>
  </div>
  <div>
    <button type="submit">Search</button>
    <button type="button">Print to console</button>
  </div>
</form>
<br>
<button (click)= "getOneCourse()">one course</button>
<div *ngFor ="let acourse of bb | async">
   {{acourse.__Course__.groups[0].__Course_Group__.lectures[0].__Kita__.lectures[0].__Lect__.end_time| json}}
</div>
<br>
<button (click)= "testconnection()">TESTER AZURE BUTTON</button>
<div>

</div>
<button (click)= "testconnectionlocal()">TESTER LOCAL BUTTON</button>
<div>

</div>
<button (click)= "testor()">Testor</button>
<div>

</div>

<router-outlet></router-outlet>
-->




<!--
async onSubmit() {
    let params= new HttpParams()
    for (let cluster of this.clusters){
      let clus =''
      for (let course of cluster){
        if (clus ==''){
          clus = clus + course.Course.id
        }
        else{
          clus = clus + ' ' + course.Course.id
        }

      }
      params = params.append('cluster',clus)
    }
    -->
