@media (min-width: 768px) {
  .item1 {
    grid-area: header;
  }
  .item2 {
    grid-area: main;
  }
  .item3 {
    grid-area: _content_;
  }
  .item4 {
    grid-area: sub_button;
  }
  .item5 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 5% 5% auto auto;
    grid-template-areas:
      "header"
      "main"
      "_content_"
      "sub_button";
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    /* background: linear-gradient(to bottom, #3333ff 0%, #3399ff 100%); */
  }

  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: auto;
  }
}
