<h1>InfoPlus+</h1>
<!-- [svgStyle]="{ 'width.px':90 , 'height.px':90} -->
<!-- <svg-icon src="assets/images/infplus_image.svg" ></svg-icon> -->
<img src="assets/images/infoplus_image.PNG" alt="infoplus Image">
<div
  *ngIf="
    !courseService.finished_fetch_booly;
    then loadScreenBlock;
    else getSiteBlock
  "
></div>
<ng-template #loadScreenBlock>
  <div class="grid-container">
    <div class="item5">
      <app-load-screen></app-load-screen>
    </div>
  </div>
</ng-template>
<ng-template #getSiteBlock>
  <div class="grid-container">
    <!-- <div class="item1">Header</div> -->
    <div class="item2">
      <nav>
        <a routerLink="step-1" routerLinkActive="active">Courses</a>
        <a routerLink="step-2" routerLinkActive="active">Lectures</a>
        <a routerLink="step-3" routerLinkActive="active">Windows & Daysoff</a>
        <a routerLink="step-4" routerLinkActive="active">Priorities</a>
        <!--<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
      </nav>
    </div>
    <div class="item3">
      <router-outlet></router-outlet>
    </div>
    <div class="item4">
      <button
        type="submit"
        [disabled]="!(this.courseService.struct.courses.length ||
        this.courseService.struct.clusters.length) "
        class="btn btn-primary btn-lg"
        (click)="onSubmitGA()"
      >
        Submit to GA
      </button>
    </div>
  </div>
</ng-template>

<!--
<nav>
  <a (click)="toggleEditor('name')">Search by Course ID</a>
</nav>
-->
<!--<app-name-editor *ngIf="showNameEditor"></app-name-editor>-->
<!--<app-name-editor></app-name-editor>-->

<!--
<div *ngIf="courseService.get_show_ga_result(); then clickedsubmit">
</div>
<ng-template #clickedsubmit>
    <app-ga-results></app-ga-results>
</ng-template>
-->

<!--
<app-submit-to-ga *ngIf="courseService.get_show_ga_result(); then loggedIn; else loggedOut"> </app-submit-to-ga>

<ng-template #loggedIn>
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>
-->
