@media (min-width: 768px) {

  ._content_ {
    grid-area: _content_;
  }
  .sub_button {
    grid-area: sub_button;
  }
  .nav {
    grid-area: nav;

    /* justify-self: end; */
  }
  .picture {
    grid-area: picture;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .grid-container {
    display: inline-grid;
    /* grid-template-rows: 5% auto auto; */
    grid-template-areas:
      "picture"
      "nav"
      "_content_";
    grid-gap: 10px;

    /* background-color: #2196F3; */
    padding: 10px;
    padding-left: 3rem;
    padding-top: 1rem;
    /* background: linear-gradient(to bottom, #3333ff 0%, #3399ff 100%); */
  }

  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: auto; */
    padding: 20px 0;
    font-size: auto;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
    background-color: rgb(229, 229, 229) !important;
    opacity: 0.2;
  }
  button:disabled {
    opacity: 0.2;
  }
}
